__pycache__/
*.pyc
.venv/
.env
.DS_Store
tr2d2-pep/wandb/
tr2d2-pep/pretrained/
tr2d2-pep/logs/
tr2d2-pep/__pycache__/
tr2d2-pep/scoring/__pycache__/
tr2d2-pep/tokenizer/__pycache__/
tr2d2-pep/utils/__pycache__/
*.pyc
*.log
*.ipynb
*.pt
tr2d2-pep/scoring/functions/classifiers/best_model.pt